In [1]:
#Import libraries 

import pandas as pd
from sqlalchemy import create_engine
# import json

In [2]:
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [3]:
#Store Data in Dataframe

csv_loc = "Resources/bfro_report_locations.csv"
csv_geo = "Resources/bfro_reports_geocoded.csv"
json_file = "Resources/bfro_reports.json"

bigfoot_locations_df = pd.read_csv(csv_loc)
bigfoot_geo_df = pd.read_csv(csv_geo)
bfro_rep_df = pd.read_json(json_file, lines=True)

In [4]:
# Display location CSV DataFrame
bigfoot_locations_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [5]:
# Begin filtering data

bf_loc_cols = ["number", "classification", 'timestamp', 'latitude', 'longitude']
bf_loc_transformed = bigfoot_locations_df[bf_loc_cols].copy()

# Drop null values on 'number'
bf_loc_transformed = bf_loc_transformed[bf_loc_transformed['number'].notna()]

bf_loc_transformed.head()

   number classification             timestamp  latitude  longitude
0     637        Class A  2000-06-16T12:00:00Z   61.5000  -142.9000
1    2917        Class A  1995-05-15T12:00:00Z   55.1872  -132.7982
2    7963        Class A  2004-02-09T12:00:00Z   55.2035  -132.8202
3    9317        Class A  2004-06-18T12:00:00Z   62.9375  -141.5667
4   13038        Class A  2004-02-15T12:00:00Z   61.0595  -149.7853

In [6]:
bf_loc_transformed.count()

number            3994
classification    3994
timestamp         3994
latitude          3994
longitude         3994
dtype: int64

In [7]:
bigfoot_geo_df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,"the road is off us rt 80, i dont know the exit...",Warren County,New Jersey,Fall,NaN,NaN,NaN,NaN,438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.10,0.001,0.7,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
3,I was northeast of Macy Nebraska along the Mis...,Latitude & Longitude : 42.158230 -96.344197,Thurston County,Nebraska,Spring,Report 59757: Possible daylight sighting of a ...,42.15685,-96.34203,2018-05-25,59757.0,...,0.38,0.000,0.0,NaN,1008.07,Partly cloudy in the morning.,10.0,8.25,193.0,3.33
4,"While this incident occurred a long time ago, ...","Ward County, Just outside of a the Minuteman T...",Ward County,North Dakota,Spring,Report 751: Hunter describes described being s...,48.25422,-101.31660,2000-04-21,751.0,...,0.60,NaN,NaN,rain,1011.47,Partly cloudy until evening.,6.0,10.00,237.0,11.14

In [8]:
bigfoot_geo_df.count()

observed              4711
location_details      4009
county                4747
state                 4747
season                4747
title                 3797
latitude              3797
longitude             3797
date                  3797
number                4747
classification        4747
geohash               3797
temperature_high      3098
temperature_mid       2950
temperature_low       2953
dew_point             3133
humidity              3133
cloud_cover           2853
moon_phase            3156
precip_intensity      2493
precip_probability    2493
precip_type           1560
pressure              2411
summary               3156
uv_index              3156
visibility            2817
wind_bearing          3147
wind_speed            3149
dtype: int64

In [9]:
# Begin filtering data
bf_geo_cols = ['observed', 'county', 'state', 'latitude', 'longitude', 'date','number', 'classification']
bf_geo_transformed = bigfoot_geo_df[bf_geo_cols].copy()

# Drop null values on 'number'
bf_geo_transformed = bf_geo_transformed[bf_geo_transformed['number'].notna()]

bf_geo_transformed.head()

,observed,county,state,latitude,longitude,date,number,classification
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A

In [10]:
bfro_rep_df.head()

,ALSO_NOTICED,A_&_G_References,COUNTY,DATE,ENVIRONMENT,LOCATION_DETAILS,MONTH,NEAREST_ROAD,NEAREST_TOWN,OBSERVED,OTHER_STORIES,OTHER_WITNESSES,REPORT_CLASS,REPORT_NUMBER,SEASON,STATE,TIME_AND_CONDITIONS,YEAR
0,NaN,NaN,Valdez-Chitina-Whittier County,NaN,NaN,East side of Prince William Sound,NaN,NaN,NaN,Ed L. was salmon fishing with a companion in P...,NaN,On a commercial fishing boat at anchor at the ...,Class A,1261.0,Fall,Alaska,"Early Fall, in the early 1990's.",Early 1990's
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN
2,nothing,NaN,Warren County,2nd or 3rd,"good size river, steep hills, very rugged area...","the road is off us rt 80, i dont know the exit...",September,not sure of the road,Allumuchy,heh i kinda feel a little dumb that im reporti...,no but after the events stated i looked at you...,"my friend was asleep, and i was lying next to ...",Class B,438.0,Fall,New Jersey,lighting was from a camp fire that was dieing ...,2000
3,NaN,NaN,Sullivan County,7,swamp with forest behind it. There was a large...,Close to Claremont down 120 not far from Kings...,June,Rte 120,Claremont,I was on my way to Claremont from Lebanon on R...,NaN,Just myself,Class A,55269.0,Summer,New Hampshire,5am. Dawn. Clear weather,2016
4,I had audio recorders set up in the area and r...,NaN,Thurston County,25,This is a heavily forested area bordering the ...,Latitude & Longitude : 42.158230 -96.344197,May,Highway 201,Macy,I was northeast of Macy Nebraska along the Mis...,There are MANY encounters in this general area...,2 witnesses saw the creature. 3 people were pr...,Class B,59757.0,Spring,Nebraska,1:35 pm on a clear and very hot sunny day. Tem...,2018

In [11]:
# Begin filtering json data
bf_reports_cols = ['OBSERVED', 'COUNTY', 'STATE', 'YEAR', 'MONTH', 'REPORT_NUMBER', 'REPORT_CLASS']
bf_reports_transformed = bfro_rep_df[bf_reports_cols].copy()

# Rename column headers
bf_reports_transformed = bf_reports_transformed.rename(columns={"OBSERVED": 'observed',
                                                               'COUNTY': 'county',
                                                               'STATE': 'state',
                                                                'YEAR': 'year',
                                                               'MONTH': 'month',
                                                               'REPORT_NUMBER': 'number',
                                                               'REPORT_CLASS': 'classification'})

# Drop null values on 'number'
bf_reports_transformed = bf_reports_transformed[bf_reports_transformed['number'].notna()]

bf_reports_transformed.head()

,observed,county,state,year,month,number,classification
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Early 1990's,NaN,1261.0,Class A
2,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,2000,September,438.0,Class B
3,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,2016,June,55269.0,Class A
4,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,2018,May,59757.0,Class B
5,"While this incident occurred a long time ago, ...",Ward County,North Dakota,1962,April,751.0,Class A

In [12]:
bf_reports_transformed.count()

observed          4711
county            4747
state             4747
year              4746
month             4145
number            4747
classification    4747
dtype: int64

In [13]:
# Merge bf_geo_transformed and bf_reports_transformed DataFrames
bf_merge = pd.merge(bf_geo_transformed, bf_reports_transformed, on='number', how='outer', suffixes=("_geocoded", "_reports"))
bf_merge.head()

,observed_geocoded,county_geocoded,state_geocoded,latitude,longitude,date,number,classification_geocoded,observed_reports,county_reports,state_reports,year,month,classification_reports
0,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,NaN,NaN,NaN,1261.0,Class A,Ed L. was salmon fishing with a companion in P...,Valdez-Chitina-Whittier County,Alaska,Early 1990's,NaN,Class A
1,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,NaN,NaN,NaN,438.0,Class B,heh i kinda feel a little dumb that im reporti...,Warren County,New Jersey,2000,September,Class B
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,2016,June,Class A
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,2018,May,Class B
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,"While this incident occurred a long time ago, ...",Ward County,North Dakota,1962,April,Class A

In [14]:
# Final merge with bf_loc_transformed into DataFrame and drop na
final_bf_merge = pd.merge(bf_merge, bf_loc_transformed, on='number', how='outer')
final_bf_merge.dropna()

,observed_geocoded,county_geocoded,state_geocoded,latitude_x,longitude_x,date,number,classification_geocoded,observed_reports,county_reports,state_reports,year,month,classification_reports,classification,timestamp,latitude_y,longitude_y
2,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,43.41549,-72.33093,2016-06-07,55269.0,Class A,I was on my way to Claremont from Lebanon on R...,Sullivan County,New Hampshire,2016,June,Class A,Class A,2016-06-07T12:00:00Z,43.41549,-72.33093
3,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,42.15685,-96.34203,2018-05-25,59757.0,Class B,I was northeast of Macy Nebraska along the Mis...,Thurston County,Nebraska,2018,May,Class B,Class B,2018-05-25T12:00:00Z,42.15685,-96.34203
4,"While this incident occurred a long time ago, ...",Ward County,North Dakota,48.25422,-101.31660,2000-04-21,751.0,Class A,"While this incident occurred a long time ago, ...",Ward County,North Dakota,1962,April,Class A,Class A,2000-04-21T12:00:00Z,48.25422,-101.31660
5,"In early spring 1988, some friends of mine and...",Yancey County,North Carolina,35.74875,-82.26195,1988-03-15,3339.0,Class B,"In early spring 1988, some friends of mine and...",Yancey County,North Carolina,1988,March,Class B,Class B,1988-03-15T12:00:00Z,35.74875,-82.26195
6,This happened summertime early 70's (I think 7...,Stillwater County,Montana,45.31278,-109.64490,1971-12-15,47215.0,Class B,This happened summertime early 70's (I think 7...,Stillwater County,Montana,1971,July,Class B,Class B,1971-12-15T12:00:00Z,45.31278,-109.64490
7,The foot prints of two bigfoot creatures who h...,Silver Bow County,Montana,46.05292,-112.57100,1988-12-15,1757.0,Class B,The foot prints of two bigfoot creatures who h...,Silver Bow County,Montana,1988,December,Class B,Class B,1988-12-15T12:00:00Z,46.05292,-112.57100
8,"i want to start this off by saying, I don't kn...",Wright County,Missouri,37.46041,-92.63587,2018-04-14,59307.0,Class B,"i want to start this off by saying, I don't kn...",Wright County,Missouri,2018,April,Class B,Class B,2018-04-14T12:00:00Z,37.46041,-92.63587
10,A friend and I were Bowhunting in October of 2...,Wexford County,Michigan,44.16985,-85.63835,2000-10-01,26196.0,Class B,A friend and I were Bowhunting in October of 2...,Wexford County,Michigan,2000/01,October,Class B,Class B,2000-10-01T12:00:00Z,44.16985,-85.63835
13,"I'd like to make a report, however it was year...",Worcester County,Massachusetts,42.66880,-71.90230,1977-12-17,8717.0,Class A,"I'd like to make a report, however it was year...",Worcester County,Massachusetts,1977,December,Class A,Class A,1977-12-17T12:00:00Z,42.66880,-71.90230
14,While squirrel hunting on Bayou Bodcaw on a cl...,Webster Parish,Louisiana,32.89500,-93.45000,1971-11-12,23227.0,Class A,While squirrel hunting on Bayou Bodcaw on a cl...,Webster Parish,Louisiana,1971,November,Class A,Class A,1971-11-12T12:00:00Z,32.89500,-93.45000
15,"On my family's rural 3,200 acre se louisiana f...",Washington Parish,Louisiana,30.85052,-89.81163,1991-06-01,25548.0,Class B,"On my family's rural 3,200 acre se louisiana f...",Washington Parish,Louisiana,1991 & 2008,June,Class B,Class B,1991-06-01T12:00:00Z,30.85052,-89.81163
18,I was driving northbound on route 146. I was d...,Worcester County,Massachusetts,42.01496,-71.58914,2008-05-15,23732.0,Class A,I was driving northbound on route 146. I was d...,Worcester County,Massachusetts,2008,May,Class A,Class A,2008-05-15T12:00:00Z,42.01496,-71.58914
19,"I am 45 years old, have spent my whole life in...",Worcester County,Massachusetts,42.54334,-71.80123,2010-11-08,28017.0,Class B,"I am 45 years old, have spent my whole life in...",Worcester County,Massachusetts,2010,June,Class B,Class B,2010-11-08T12:00:00Z,42.54334,-71.80123
21,On May 8th 2016 I was riding my four wheeler o...,Worcester County,Massachusetts,42.08363,-71.83971,2016-05-09,51902.0,Class B,On May 8th 2016 I was riding my four wheeler o...,Worcester County,Massachusetts,2016,May,Class B,Class B,2016-05-09T12:00:00Z,42.08363,-71.83971
23,I have seen footprints of what I believe is a ...,York County,Maine,43.66760,-70.62350,2016-02-27,51991.0,Class B,I have seen footprints of what I believe is a ...,York County,Maine,2016,February,Class B,Class B,2016-02-27T12:00:00Z,43.66760,-70.62350
24,"I was hiking in the woods, doing occasional wh...",York County,Maine,43.20450,-70.81187,2017-02-14,56798.0,Class B,"I was hiking in the woods, doing occasional wh...",York County,Maine,2017,February,Class B,Class B,2017-02-14T12:00:00Z,43.20450,-70.81187
25,It was late midnight and me and friends are ou...,Wexford County,Michigan,44.50587,-85.51546,2000-10-21,45572.0,Class A,It was late midnight and me and friends are ou...,Wexford County,Michigan,2000,October,Class A,Class A,2000-10-21T12:00:00Z,44.50587,-85.51546
26,Let me start out saying I grew up in the woods...,Wexford County,Michigan,44.45835,-85.66670,2008-09-25,24695.0,Class B,Let me start out saying I grew up in the woods...,Wexford County,Michigan,2004,October,Class B,Class B,2008-09-25T12:00:00Z,44.45835,-85.66670
28,"I live in Butte, Montana. This is a city mostl...",Silver Bow County,Montana,45.97540,-112.45540,2007-08-15,25662.0,Class A,"I live in Butte, Montana. This is a city mostl...",Silver Bow County,Montana,2007,August,Class A,Class A,2007-08-15T12:00:00Z,45.97540,-112.45540
29,"My two friends and I were camping near Busick,...",Yancey County,North Carolina,35.75278,-82.22121,2011-08-21,30860.0,Class A,"My two friends and I were camping near Busick,...",Yancey County,North Carolina,2011,August,Class A,Class A,2011-08-21T12:00:00Z,35.75278,-82.22121
30,I was coming home after work about 9:30 to 10 ...,Warren County,New Jersey,40.76345,-75.11044,2005-12-21,13276.0,Class B,I was coming home after work about 9:30 to 10 ...,Warren County,New Jersey,1987,September,Class B,Class B,2005-12-21T12:00:00Z,40.76345,-75.11044
31,Some time in early December my friend had an e...,Warren County,New Jersey,40.81920,-74.85561,2007-03-31,17550.0,Class A,Some time in early December my friend had an e...,Warren County,New Jersey,2007,February,Class A,Class A,2007-03-31T12:00:00Z,40.81920,-74.85561
33,It was August of 1977 and I had missed my ride...,Warren County,New Jersey,40.89452,-74.79077,2015-10-02,49883.0,Class B,It was August of 1977 and I had missed my ride...,Warren County,New Jersey,1977,August,Class B,Class B,2015-10-02T12:00:00Z,40.89452,-74.79077
34,My summer ecology class was hiking to Middle F...,Taos County,New Mexico,36.59900,-105.41130,2000-05-17,4904.0,Class B,My summer ecology class was hiking to Middle F...,Taos County,New Mexico,2000,May,Class B,Class B,2000-05-17T12:00:00Z,36.59900,-105.41130
35,"From sept 30th-oct 4th,2006 I was hunting with...",Taos County,New Mexico,36.19625,-105.55960,2006-10-02,16207.0,Class B,"From sept 30th-oct 4th,2006 I was hunting with...",Taos County,New Mexico,2006,October,Class B,Class B,2006-10-02T12:00:00Z,36.19625,-105.55960
37,"On Feb .20, 2011 my mother and father were on ...",Taos County,New Mexico,36.65339,-105.96780,2011-02-20,28886.0,Class A,"On Feb .20, 2011 my mother and father were on ...",Taos County,New Mexico,2011,February,Class A,Class A,2011-02-20T12:00:00Z,36.65339,-105.96780
39,"Upon loading firewood into the truck, my grand...",Union Parish,Louisiana,32.80570,-92.40895,1977-11-15,1501.0,Class A,"Upon loading firewood into the truck, my grand...",Union Parish,Louisiana,1977,November,Class A,Class A,1977-11-15T12:00:00Z,32.80570,-92.40895
42,100% bigfoot Melville LA approx 1:15 pm rainy ...,St. Landry Parish,Louisiana,30.74715,-91.76733,2015-05-11,48665.0,Class A,100% bigfoot Melville LA approx 1:15 pm rainy ...,St. Landry Parish,Louisiana,2015,May,Class A,Class A,2015-05-11T12:00:00Z,30.74715,-91.76733
43,I will tell about my visual siting. I do have ...,Sabine Parish,Louisiana,31.58310,-93.50845,2003-11-12,9567.0,Class A,I will tell about my visual siting. I do have ...,Sabine Parish,Louisiana,2003,November,Class A,Class A,2003-11-12T12:00:00Z,31.58310,-93.50845
44,well i was driving on I49 between alexandria a...,Natchitoches Parish,Louisiana,31.64980,-93.08870,1993-03-05,3631.0,Class A,well i was driving on I49 between alexandria a...,Natchitoches Parish,Louisiana,92 or 93,March,Class A,Class A,1993-03-05T12:00:00Z,31.64980,-93.08870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4687,"July 10, 2010. Four miles South of Lafayette, ...",Tippecanoe County,Indiana,40.38335,-87.07960,2010-07-10,27976.0,Class B,"July 10, 2010. Four miles South of Lafayette, ...",Tippecanoe County,Indiana,2010,July,Class B,Class B,2010-07-10T12:00:00Z,40.38335,-87.07960
4693,"It was bow season in October 1992, around 5:30...",Scott County,Indiana,38.73725,-85.84489,1992-10-20,24862.0,Class B,"It was bow season in October 1992, around 5:30...",Scott County,Indiana,1992,October,Class B,Class B,1992-10-20T12:00:00Z,38.73725,-85.84489
4694,My girlfriend and I were fishing on Glen Flint...,Putnam County,Indiana,39.72848,-86.93636,2006-08-01,25869.0,Class B,My girlfriend and I were fishing on Glen Flint...,Putnam County,Indiana,2006,August,Class B,Class B,2006-08-01T12:00:00Z,39.72848,-86.93636
4697,The first incident was in Febuary of 2009 afte...,Montgomery County,Indiana,39.93470,-87.08955,2009-07-01,27274.0,Class B,The first incident was in Febuary of 2009 afte...,Montgomery County,Indiana,2009,July,Class B,Class B,2009-07-01T12:00:00Z,39.93470,-87.08955
4698,After caving in a local pit off of Popcorn Roa...,Monroe County,Indiana,39.01166,-86.57665,1979-11-01,21821.0,Class A,After caving in a local pit off of Popcorn Roa...,Monroe County,Indiana,1979,November,Class A,Class A,1979-11-01T12:00:00Z,39.01166,-86.57665
4700,This took place while on the last day of firea...,Monroe County,Indiana,39.32117,-86.46065,1988-11-30,24815.0,Class A,This took place while on the last day of firea...,Monroe County,Indiana,1988,November,Class A,Class A,1988-11-30T12:00:00Z,39.32117,-86.46065
4704,hey i just happened to stumble upon this websi...,Monroe County,Indiana,39.02502,-86.49139,2009-10-22,28861.0,Class B,hey i just happened to stumble upon this websi...,Monroe County,Indiana,2009,October,Class B,Class B,2009-10-22T12:00:00Z,39.02502,-86.49139
4705,I went fishing in Morgan Monroe State Forest w...,Morgan County,Indiana,39.38040,-86.43240,2011-07-09,29891.0,Class B,I went fishing in Morgan Monroe State Forest w...,Morgan County,Indiana,2011,July,Class B,Class B,2011-07-09T12:00:00Z,39.38040,-86.43240
4707,I have reported before on this website. I live...,Putnam County,Indiana,39.74356,-86.81714,2008-12-01,25237.0,Class B,I have reported before on this website. I live...,Putnam County,Indiana,2008,December,Class B,Class B,2008-12-01T12:00:00Z,39.74356,-86.81714
4708,It's taken me a long time to share this story ...,Spencer County,Indiana,37.83837,-87.13843,2008-09-20,49467.0,Class A,It's taken me a long time to share this story ...,Spencer County,Indiana,2008,September,Class A,Class A,2008-09-20T12:00:00Z,37.83837,-87.13843
4710,Some neighbors and I went four wheeling on our...,Warrick County,Indiana,38.15790,-87.41805,2006-07-02,15374.0,Class B,Some neighbors and I went four wheeling on our...,Warrick County,Indiana,2006,July,Class B,Class B,2006-07-02T12:00:00Z,38.15790,-87.41805
4711,"I have had two possible ""Bigfoot related"" inci...",Washington County,Indiana,38.68990,-86.25349,1997-08-01,25793.0,Class A,"I have had two possible ""Bigfoot related"" inci...",Washington County,Indiana,1997,August,Class A,Class A,1997-08-01T12:00:00Z,38.68990,-86.25349
4712,My sighting of what I believe to have been a s...,Washington County,Indiana,39.48620,-86.16100,1999-06-12,10678.0,Class A,My sighting of what I believe to have been a s...,Washington County,Indiana,1999,June,Class A,Class A,1999-06-12T12:00:00Z,39.48620,-86.16100
4713,I have been reluctant to beleive what my moth...,Washington County,Indiana,38.43235,-86.19055,2006-05-30,14845.0,Class B,I have been reluctant to beleive what my moth...,Washington County,Indiana,2006,May,Class B,Class B,2006-05-30T12:00:00Z,38.43235,-86.19055
4716,"Ok... not ""just a story""... this happened to u...",Kosciusko County,Indiana,41.33820,-85.70370,2003-10-11,8438.0,Class A,"Ok... not ""just a story""... this happened to u...",Kosciusko County,Indiana,2003,October,Class A,Class A,2003-10-11T12:00:00Z,41.33820,-85.70370
4717,A friend of mine cornered me late one day and ...,Johnson County,Indiana,39.38000,-86.11000,2002-05-11,13242.0,Class A,A friend of mine cornered me late one day and ...,Johnson County,Indiana,2002,May,Class A,Class A,2002-05-11T12:00:00Z,39.38000,-86.11000
4720,it was the winter of 97. shotgun season for de...,Huntington County,Indiana,40.81790,-85.35320,1997-11-01,28803.0,Class A,it was the winter of 97. shotgun season for de...,Huntington County,Indiana,1997,November,Class A,Class A,1997-11-01T12:00:00Z,40.81790,-85.35320
4721,I was with my dad and a friend of his as well ...,Henry County,Indiana,39.98705,-85.31490,1975-10-01,28453.0,Class B,I was with my dad and a friend of his as well ...,Henry County,Indiana,1975,October,Class B,Class B,1975-10-01T12:00:00Z,39.98705,-85.31490
4723,(Report as stated in telephone interview with ...,Hamilton County,Indiana,40.04030,-86.10840,1973-07-10,10538.0,Class A,(Report as stated in telephone interview with ...,Hamilton County,Indiana,1973,July,Class A,Class A,1973-07-10T12:00:00Z,40.04030,-86.10840
4724,"When I was a little girl,before i'd heard of b...",Grant County,Indiana,40.54919,-85.69739,1975-07-15,26587.0,Class A,"When I was a little girl,before i'd heard of b...",Grant County,Indiana,1975,July,Class A,Class A,1975-07-15T12:00:00Z,40.54919,-85.69739
4728,This happened to me and a friend of mine. It w...,Decatur County,Indiana,39.45697,-85.54810,1977-06-15,29032.0,Class A,This happened to me and a friend of mine. It w...,Decatur County,Indiana,1977,June,Class A,Class A,1977-06-15T12:00:00Z,39.45697,-85.54810
4729,"My friend, his younger brother, my younger bro...",Dearborn County,Indiana,39.06565,-85.01295,1982-08-01,23537.0,Class B,"My friend, his younger brother, my younger bro...",Dearborn County,Indiana,1982,August,Class B,Class B,1982-08-01T12:00:00Z,39.06565,-85.01295
4730,My sighting happened while camping a mile into...,Dearborn County,Indiana,39.17295,-84.97100,1984-08-01,25454.0,Class A,My sighting happened while camping a mile into...,Dearborn County,Indiana,1984,August,Class A,Class A,1984-08-01T12:00:00Z,39.17295,-84.97100
4731,I was in the woods one morning when I heard a ...,Floyd County,Indiana,38.39027,-85.95914,2010-10-05,29386.0,Class B,I was in the woods one morning when I heard a ...,Floyd County,Indiana,2010,October,Class B,Class B,2010-10-05T12:00:00Z,38.39027,-85.95914
4733,I was around 8 years old. It was about dusk wh...,Hamilton County,Indiana,40.18000,-86.15120,1973-09-08,6094.0,Class A,I was around 8 years old. It was about dusk wh...,Hamilton County,Indiana,1973,September,Class A,Class A,1973-09-08T12:00:00Z,40.18000,-86.15120
4734,"This happened about 13 years ago, but I rememb...",Harrison County,Indiana,38.02847,-85.57882,2001-07-15,46063.0,Class B,"This happened about 13 years ago, but I rememb...",Harrison County,Indiana,2001,July,Class B,Class B,2001-07-15T12:00:00Z,38.02847,-85.57882
4736,My wife and I were night fishing for catfish o...,Huntington County,Indiana,40.74765,-85.57069,2002-07-01,28797.0,Class B,My wife and I were night fishing for catfish o...,Huntington County,Indiana,2002,July,Class B,Class B,2002-07-01T12:00:00Z,40.74765,-85.57069
4738,"On Friday, April 2, 2004, at about 5:00 PM my ...",Kosciusko County,Indiana,39.35790,-85.61000,2005-01-21,9642.0,Class A,"On Friday, April 2, 2004, at about 5:00 PM my ...",Kosciusko County,Indiana,2004,April,Class A,Class A,2005-01-21T12:00:00Z,39.35790,-85.61000
4740,I am a 40 year old engineer and have been pass...,Crawford County,Indiana,38.41910,-86.23506,2004-06-12,10284.0,Class B,I am a 40 year old engineer and have been pass...,Crawford County,Indiana,2004,June,Class B,Class B,2004-06-12T12:00:00Z,38.41910,-86.23506
4744,My wife and I were camping At Yellowood State ...,Brown County,Indiana,39.17909,-86.33560,2015-08-08,49480.0,Class B,My wife and I were camping At Yellowood State ...,Brown County,Indiana,2015,August,Class B,Class B,2015-08-08T12:00:00Z,39.17909,-86.33560

In [15]:
# Clean up final merge Dataframe to rename columns
final_bf_merge = final_bf_merge.rename(columns={"OBSERVED": 'observed',
                                                               'COUNTY': 'county',
                                                               'STATE': 'state',
                                                                'YEAR': 'year',
                                                               'MONTH': 'month',
                                                               'REPORT_NUMBER': 'number',
                                                               'REPORT_CLASS': 'classification'})

In [16]:

x_classifications['class'] = final_bf_merge['classification_x'] + final_bf_merge['classification_y']
x_classifications.head()

KeyError: 'classification_x'

In [17]:
classification_table = x_classifications + final_bf_merge['classification']
cleaned_classifications = classification_table.dropna()

NameError: name 'x_classifications' is not defined

In [18]:
x = cleaned_classifications.drop_duplicates()

NameError: name 'cleaned_classifications' is not defined

In [19]:
clean_df = pd.DataFrame(x)
clean_df.columns = ['classificiation']
clean_df

NameError: name 'x' is not defined

In [20]:
y_classifications = final_bf_merge['classification_y']
y_classifications

KeyError: 'classification_y'

In [21]:
classifications = final_bf_merge['classification']
classifications

0           NaN
1           NaN
2       Class A
3       Class B
4       Class A
5       Class B
6       Class B
7       Class B
8       Class B
9           NaN
10      Class B
11          NaN
12          NaN
13      Class A
14      Class A
15      Class B
16      Class B
17      Class B
18      Class A
19      Class B
20          NaN
21      Class B
22          NaN
23      Class B
24      Class B
25      Class A
26      Class B
27          NaN
28      Class A
29      Class A
         ...
4904    Class B
4905    Class B
4906    Class B
4907    Class B
4908    Class B
4909    Class B
4910    Class B
4911    Class B
4912    Class B
4913    Class B
4914    Class B
4915    Class B
4916    Class B
4917    Class B
4918    Class B
4919    Class B
4920    Class B
4921    Class B
4922    Class B
4923    Class B
4924    Class B
4925    Class B
4926    Class B
4927    Class B
4928    Class B
4929    Class B
4930    Class B
4931    Class C
4932    Class C
4933    Class C
Name: classification, Length: 4934, dtype: object

In [22]:
#list of columns from dataframes

bigfoot_locations_df.head()
list_loc=[]
for col in bigfoot_locations_df.columns: 
    list_loc.append(col)

In [23]:
#bigfoot_geo_df.head()
list_geo=[]
for col in bigfoot_geo_df.columns: 
    list_geo.append(col)

In [24]:
inter=intersection(list_geo, list_loc)

In [25]:
bf_geo=bigfoot_geo_df[inter]
bf_geo=bf_geo[['number','title','classification','latitude','longitude']]

#final=pd.concat([ye,bigfoot_locations_df])

In [26]:
#bfro_rep_df.head()

geo_nums=bf_geo_transformed['number'].tolist()
loc_nums=bigfoot_locations_df['number'].tolist()
intr_nums=intersection(geo_nums,loc_nums)
print(len(geo_nums))
print(len(loc_nums))
print(len(intr_nums))

4747
3994
3807

In [27]:
# sanity check
for loc in loc_nums:
    if loc not in geo_nums:
        print(loc)

211
9876
10775
12001
12647
17290
27043
38116
43598
2113
3899
4900
5172
6831
10001
10633
10878
11915
12451
13232
13371
13464
13642
14328
14329
14511
15085
15274
17331
18534
20415
21563
23245
24564
24806
26050
26765
28740
34822
2404
8576
12335
12908
21795
35177
15343
17221
1615
5873
9516
10611
13267
13627
16807
16853
18077
20408
22821
23134
23171
24733
25857
31992
13061
16779
7436
24826
1776
2017
10974
6486
2069
6829
10127
10597
10883
15835
23259
25378
26517
26746
27154
27910
28583
34794
55604
59610
59728
857
2852
3945
5041
6579
7456
7911
9069
9438
9654
9778
10572
10864
11570
11595
12100
12855
13390
13427
13583
13800
13815
14020
14166
14344
15141
15389
15419
15541
15571
15888
15961
17142
17178
18115
18441
18913
20758
22123
24039
24377
24956
25140
25368
26821
27281
28285
35539
35773
40024
40345
43994
1528
9142
9495
23849
26331
31176
50446
51949
7943
10308
10734
11797
12958
13706
14341
14981
16719
16944
17443
17457
17501
18375
23490
24881
25229
25670
26285
26348
27180
27959
27961
30249
6833
11170
17214
23086
2815
12733
14405
17456
24643
12088
58445
10445
483
25381
444

In [28]:
# another sanity check
report_nums = bf_reports_transformed['number'].tolist()
inter_nums = intersection(report_nums,geo_nums) 
print(len(inter_nums))

4747

Create database connection

In [29]:
connection_string = "postgres:postgres@localhost:5432/bigfoot_db"
engine = create_engine(f'postgresql://{connection_string}')